*.iml
*.ipr
*.iws
*.log
.DS_Store
.gradle/
.kotlin/
.idea/
.cxx/
.externalNativeBuild/
captures/
local.properties
**/build/
**/konan/
**/xcuserdata/
DerivedData/
.swiftpm/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
